.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
}

.dialog{
    padding: 10px;
}
.dialog a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.dialog img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.active{
    color: gold;
}

.message{
    padding: 10px
}
